.content {
  max-width: 1280px;
  margin: 56px auto 92px;
}

@media screen and (max-width: 1279px) {
  .content {
    margin: 48px auto 90px;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    margin: 48px auto 85px;
}

@media screen and (max-width: 550px) {
  .content {
    margin: 48px auto 61px;
  }
}