.intro {
  margin: 92px 148px 0;
  max-width: 690px;
}

@media screen and (max-width: 1032px) {
  .intro {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 780px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 350px) {
  .intro {
    margin: 64px 16px 0;
    max-width: 288px;
  }
}

