.cover {
  margin: 92px 48px 0;
  position: relative;
  width: 100%;
  /* Невозможно добиться растягивание секции при переполнении контента,
  т.к. контент имеет свойство position: absolute  */
}

@media screen and (max-width: 1279px) {
  .cover {
    margin: 92px 0 0;
  }
}

@media screen and (max-width: 550px) {
  .cover {
    margin: 66px 0 0;
  }
}

