.place__link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  margin: 0;
  transition: .2s ease-in-out;
}

.place__link:hover {
  opacity: 0.8;
}

