.cover__overlay {
  background-color: rgba(42,44,47,.3);
  width: 100%;
  min-height: 740px;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.cover__overlay:before {
  content: '';
  background-color: rgba(42,44,47,.3);
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: .6s;
}

.cover__overlay:hover:before {
  background-color: rgba(42,44,47,.8);
}

@media screen and (max-width: 1180px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 550px) {
  .cover__overlay {
    min-height: 200px;
  }
}
