.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 735px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    padding: 0 16px 24px;
    align-items: flex-start;
  }
}


